.edit-profil-container {
    margin-top: 15px;
    margin-bottom: 30px;
}

form {
    width: 80%;
    margin: auto;
}

form input {
    width: 60%;
    float: right;
}

.edit-profil {
    text-align: center;
}

.edit-form {
    margin-top: 60px;
}

.image-container {
    text-align: center;
}

.profile-image {
    margin-top: 40px;
    width: 256px;
    height: 256px;
}

label {
    margin-bottom: 2px;
    margin-left: 5px;
}

form .buttons {
    padding-top: 40px;
    text-align: center;
}

.buttons input {
    margin-left: 5px;
    width: 140px;
    float: right;
}

.buttons a {
    margin-right: 5px;
    width: 140px;
    float: right;
}
