.login-header h1 {
    padding-left: 50px;
}

.login-title {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.login-form {
    margin: auto;
    padding: auto;
}

form {
    width: 60%;
    margin: auto;
}

form input[type=submit] {
    width: 140px;
    margin: auto;
}

.form-group label {
    margin-bottom: 2px;
    margin-left: 5px;
}

form .button {
    text-align: center;
}

.reset-url {
    padding-top: 15px;
    text-align: center;
}

/* social-auth */
.social {
    width: 50%;
    text-align: center;
    padding-top: 80px;
    margin: auto;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }