.password-change-container {
    margin-top: 15px;
    margin-bottom: 30px;
}

.password-change-title {
    margin-left: 20px;
}

.password-change {
    margin: 20px;
}

input {
    width: 240px;
    float: right;
}

.buttons {
    margin-top: 40px;
}
.buttons input {
    margin-left: 5px;
    width: 100px;
    float: left;
}

.buttons a {
    margin-right: 5px;
    width: 100px;
    float: left;
}