{% load blog_tags %}
{% load staticfiles %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% sass_src 'css/blog.scss' %}" rel="stylesheet">
    {% block css %}{% endblock css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    {% include 'navbar.html' %}
        <!--<span class="logo"><a href="{% url 'blog:post_list' %}">The Watchers</a></span>-->
        <!--{% if request.user.is_authenticated %}-->
        <!--<ul class="menu">-->
            <!--<li {% if section == "dashboard" %} class="selected" {% endif %}>-->
                <!--<a href="{% url 'dashboard' %}">Dashboard</a>-->
            <!--</li>-->
            <!--<li {% if section == "images" %} class="selected" {% endif %}>-->
                <!--<a href="#">Images</a>-->
            <!--</li>-->
            <!--<li {% if section == "people" %} class="selected" {% endif %}>-->
                <!--<a href="#">People</a>-->
            <!--</li>-->
        <!--</ul>-->
        <!--{% endif %}-->

        <!--<span class="user">-->
            <!--{% if request.user.is_authenticated %}-->
                <!--Hello {{ request.user.first_name }},-->
                <!--<a href="{% url 'logout' %}">Logout</a>-->
            <!--{% else %}-->
                <!--<a href="{% url 'login' %}">Log-in</a>-->
            <!--{% endif %}-->
        <!--</span>-->
    <div class="container">
        <div class="row">
            <section id="content" class="col-xl-12">
                {% block content %}{% endblock content %}
            </section>
            <div class="">
                <!--{% show_latest_posts 5 %}-->
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/tether.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    {% block js %}{% endblock js %}
    <script>
        {% block script %}{% endblock script %}
    </script>
</body>
</html>
