{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
</head>
<body>
    <div id="header">
        <span class="logo">The Watchers</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %} class="selected" {% endif %}>
                <a href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li {% if section == "images" %} class="selected" {% endif %}>
                <a href="#">Images</a>
            </li>
            <li {% if section == "people" %} class="selected" {% endif %}>
                <a href="#">People</a>
            </li>
        </ul>
        {% endif %}

        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name }},
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{ message|safe }}
            <a href="#" class="close" onclick="closeMessage(this)">X</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
    <script type="text/javascript">
        var closeMessage = function(e) {
            var target = $(e);
            target.parent().slideUp();
        }
    </script>
</body>
</html>
