{% load blog_tags %}
<header>
    <nav class="nav fixed-top">
        <ul class="nav col-xl-2 justify-content-center">
            <li class="nav-item">
                <a class="navbar-brand logo" href="{% url 'blog:home' %}">Vault 13</a>
            </li>
        </ul>
        <ul class="nav col-xl-8 justify-content-center">
        {% show_categories %}
        </ul>
        <ul class="nav col-xl-2 justify-content-end">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown user">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello {{ request.user.first_name }}</a>
                <div class="dropdown-menu user">
                    {% if request.user.is_superuser %}
                    <a class="dropdown-item" href="{% url 'admin:login' %}">Admin</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'dashboard' %}">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item user">
                <a class="nav-link login" href="{% url 'login' %}">LOGIN</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
