{% extends "base.html" %}

{% block title %}Logged out{% endblock title %}

{% block content %}
<h1>Logged out</h1>
<p>You have been successfully logged out. You can <a href="{% url 'login' %}">Log-in again</a></p>
{% endblock content %}
