{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}Log-in{% endblock title %}

{% block content %}
<div class="row login-form">
        <div class="col-xl-12 login-header">
            <h1>Login</h1>
        </div>
        <div class="col-xl-6">
            <div class="login-title">
                {% if form.errors %}
                <p>Please, use the following form to log-in. If you don't have an account <a href="{% url 'register' %}">register here.</a></p><br>
                <p> Your username and password didn't match </p>
                {% else %}
                <p>Please, use the following form to log-in. If you don't have an account <a href="{% url 'register' %}">register here.</a></p>
                {% endif %}
            </div>
            <form action="{% url 'login' %}" method="POST">
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="button"><input type="submit" class="btn btn-success" value="Log-in"></div>
            </form>
            <p class="reset-url"><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>
        </div>
        <div class="col-xl-6">
            <div class="social">
                <ul>
                    <li class="facebook"><a href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a></li>
                    <li class="twitter"><a href="{% url 'social:begin' 'twitter' %}">Sign in with Twitter</a></li>
                    <li class="google"><a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with Google</a></li>
                </ul>
            </div>
        </div>
</div>
{% endblock content %}
