{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="exported via StampReady" name="sr_export">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="date=no">
	<meta name="format-detection" content="address=no">
	<meta name="format-detection" content="email=no">
	<title></title>

<link href="https://fonts.googleapis.com
/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v9/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v9/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(https://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff) format('woff');
}

/*=========*/
/*reset styles*/
html{width: 100%;}
body{
	width: 100%;
	background-color: #ffffff;
	margin:0; padding:0;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	mso-margin-top-alt: 0px;
	mso-margin-bottom-alt: 0px;
	mso-padding-alt: 0px 0px 0px 0px;}
div, p, a, li, td { -webkit-text-size-adjust:none; }
#outlook a {padding:0;}
p,h1,h2,h3,h4{ margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:0;}
table{mso-table-lspace:0pt; mso-table-rspace:0pt;}
table td {border-collapse: collapse;}
span.preheader{display: none;font-size: 1px; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;}
/*.googlefix {width: 280px!important; text-align:center!important; min-width:0px!important}*/
/* IOS blue links */
a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }a {outline:none;}
/* IOS blue links */
a {text-decoration: none;}
a img {border:none;}
.image_fix {display:block;}
.ReadMsgBody { width: 100%;}
.ExternalClass {width: 100%;}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height: 100%;}
img{-ms-interpolation-mode:bicubic;}
p {margin:0 !important; padding:0 !important;}
/*reset styles*/
/*=========*/

@media screen and (max-width: 599px)
{
	body{width:100% !important;}
	.container           {width:100% !important; min-width:100% !important;}
	.container-wrap      {display:inline-block !important; width:100% !important; height:auto !important; border-radius:0 !important;}
	.image-container     {width: 100% !important; height: auto !important; }
	.disable             {display: none !important;}
	.enable              {display: inline !important;}
	.padding-top-10      {padding-top: 10px !important;}
	.padding-top-20      {padding-top: 20px !important;}
	.padding-top-30      {padding-top: 30px !important;}
	.padding-top-40      {padding-top: 40px !important;}
	.padding-top-60      {padding-top: 60px !important;}
	.padding-bottom-10   {padding-bottom: 10px !important;}
	.padding-bottom-20   {padding-bottom: 20px !important;}
	.padding-bottom-30   {padding-bottom: 30px !important;}
	.padding-bottom-40   {padding-bottom: 40px !important;}
	.padding-bottom-60   {padding-bottom: 60px !important;}
	.padding-none        {padding:0  !important;}
	.text                {width:90% !important; text-align:center !important;}
	.text-on-bg          {width:90% !important; text-align:center !important;}
	.text-center         {text-align: center !important;}
	.text-right          {text-align: right !important;}
	.text-left           {text-align: left !important;}
	.text-white          {color: #ffffff !important;}
	.background-cover    {background-size: cover !important;}
	.background-cover-percent    {background-size: 100% 79% !important;}
	.background-contain  {background-size: contain !important;}
	.background-auto     {background-size: auto !important;}
	.background-center   {background-position: center center !important;}
	.background-none     {background-image: none !important;}
	.border-none         {border:0 !important;}
	.border-white        {border-color: #ffffff !important;}
}

</style>
</head>
<body style="background-color: rgb(255, 255, 255); overflow-x: hidden;">
    <table width="600" align="center" class="container" border="0" cellpadding="0" cellspacing="0" style="width:600px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border: 0px;">
        <tbody>
            <tr>
                <!-- section -->
                <th width="580" align="left" class="container-wrap" valign="top" style="vertical-align: top;">
                    <table width="580" align="left" class="container" border="0" cellpadding="0" cellspacing="0" style="width:580px; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border: 0px;">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table width="580" align="center" class="text" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border: 0px;">
                                        <tbody>
                                            <!-- margin -->
                                            <tr>
                                                <td align="center" height="31" width="1" style="font-size: 1px; line-height: 31px; height:31px;">&nbsp;<img src="{% static 'email_img/spacer.png' %}" alt="spacer" width="1" height="1">
                                                </td>
                                            </tr>
                                            <!-- margin -->
                                            <!-- title -->
                                            <tr>
                                                <td style="text-align:left; font-family: 'Montserrat', Open Sans, sans-serif; font-size:20px; line-height: 20px; text-decoration: none; color: #000000; font-weight: 400; text-transform: uppercase; letter-spacing: 0.05em" data-size="ftrs-1-title-size" data-min="9" data-max="40" data-color="ftrs-1-title-color" mc:edit="ftrs-1-title-1">
                                                    <multiline>vault 13</multiline>
                                                </td>
                                            </tr>
                                            <!-- title -->
                                            <!-- margin -->
                                            <tr>
                                                <td align="center" height="8" width="1" style="font-size: 1px; line-height: 8px; height:8px;">&nbsp;<img src="{% static 'email_img/spacer.png' %}" alt="spacer" width="1" height="1">
                                                </td>
                                            </tr>
                                            <!-- margin -->
                                            <!-- sub-title -->
                                            <tr>
                                                <td style="text-align:left; font-family: 'Montserrat', Open Sans, sans-serif; font-size:13px; line-height: 13px; text-decoration: none; color: #bdbdbd; font-weight: 400; text-transform: uppercase; letter-spacing: 0.05em" data-size="ftrs-1-sub-title-size" data-min="9" data-max="40" data-color="ftrs-1-sub-title-color" mc:edit="ftrs-1-sub-title-1">
                                                    <multiline>password reset</multiline>
                                                </td>
                                            </tr>
                                            <!-- sub-title -->
                                            <!-- margin -->
                                            <tr>
                                                <td align="left" height="13" width="1" style="font-size: 1px; line-height: 13px; height:13px;">&nbsp;<img src="{% static 'email_img/spacer.png' %}" alt="spacer" width="1" height="1">
                                                </td>
                                            </tr>
                                            <!-- margin -->
                                            <!-- text -->
                                            <tr>
                                                <td style="text-align:left; font-family: 'Open Sans' , sans-serif; font-size:14px; line-height: 20px; text-decoration: none; color: #444444; font-weight:400;" data-size="ftrs-1-text-size" data-min="9" data-max="40" data-color="ftrs-1-text-color" mc:edit="ftrs-1-text-1">
                                                    <multiline>Someone asked for password reset for email {{ email }}. Your username, in case you've forgotten: {{ user.get_username }}, follow the link below:</multiline>
                                                </td>
                                            </tr>
                                            <!-- text -->
                                            <!-- margin -->
                                            <tr>
                                                <td align="center" height="35" width="1" style="font-size: 1px; line-height: 35px; height:35px;">&nbsp;<img src="{% static 'email_img/spacer.png' %}" alt="spacer" width="1" height="1">
                                                </td>
                                            </tr>
                                            <!-- margin -->
                                            <!--button-->
                                            <tr>
                                                <td align="left" class="ftrs-1-btn">
                                                    <table border="0" align="left" cellpadding="0" cellspacing="0" bgcolor="#12c064" style="border-radius: 15px; background-color: #12c064; min-width: 110px;" data-bgcolor="ftrs-1-btn-bg">
                                                        <tbody>
                                                            <tr>
                                                                <td width="15"></td>
                                                                <td height="30" align="center" style="height: 30px; text-align: center; font-family: 'Montserrat', Open Sans, sans-serif; font-size: 11px; color: #ffffff; font-weight: 400; text-decoration: none !important; letter-spacing: 0.025em; text-transform: uppercase; letter-spacing: 0.05em; vertical-align: middle;" data-size="ftrs-1-btn-size" data-min="9" data-max="40" data-link-style="text-decoration: none; color:#ffffff;" data-link-color="ftrs-1-btn-link-color">
                                                                    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color: #ffffff; text-decoration: none !important;" data-color="ftrs-1-btn-link-color" mc:edit="ftrs-1-btn-1">
                                                                        <multiline>Reset password</multiline>
                                                                    </a>
                                                                </td>
                                                                <td width="15"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!--button-->
                                            <!-- margin -->
                                            <tr>
                                                <td align="center" height="40" width="1" style="font-size: 1px; line-height: 40px; height:40px;">&nbsp;<img src="{% static 'email_img/spacer.png' %}" alt="spacer" width="1" height="1">
                                                </td>
                                            </tr>
                                            <!-- margin -->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </th>
                <!-- section -->
            </tr>
        </tbody>
    </table>
</body>
</html>
