{% extends "base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
    <h1>Password set</h1>
    <p>Your password has been set. You can <a href="{% url 'login' %}">log in now</a></p>
{% endblock content %}
