{% extends "base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
<h1>Forgotten password?</h1>
<p>Enter your email address to obtain a new password.</p>
<form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Send e-mail"></p>
</form>
{% endblock content %}
