{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Change your password{% endblock title %}

{% block css %}
<link href="{% static 'css/password_change.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="row password-change-container">
    <div class="col-xl-12 password-change-title">
        <h1>Change your password</h1>
    </div>
    <div class="col-xl-6 password-change">
        <p>Use the form below to change your password</p>
        <form action="." method="POST">
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.messages.help_text_html }}
                {{ field.errors }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="buttons">
                <a class="btn btn-secondary" href="{% url 'dashboard' %}" class="btn btn-secondary">Back</a>
                <input type="submit" class="btn btn-success" value="Change">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
