{% extends "base.html" %}

{% block title %}Reset password - Done{% endblock title %}

{% block content %}
<h1>Reset your password</h1>
<p>We've emailed you instructions for setting your password.</p>
<p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
{% endblock content %}
