.home {

    .featured {
        position: relative;
        height: 440px;
        margin-bottom: 15px;
        overflow: hidden;

        &:hover {
            opacity: 0.8;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: 50% 50%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            height: 100px;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.8);

            h2 {
                font-size: 20px;
            }

            p {
                color: $white;
                height: 50px;
                overflow: hidden;
            }
        }
    }

    .featured-sm {
        position: relative;
        height: 180px;
        margin-bottom: 15px;
        overflow: hidden;

        .featured-post {

            &:hover {
                opacity: 0.8;
            }

            img {
                width: 100%;
                height: 100%;
                object-position: 50% 50%;
                object-fit: cover;
            }

            .overlay {
                position: absolute;
                height: 60px;
                bottom: 0;
                left: 0px;
                right: 0px;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.8);

                h2 {
                    font-size: 16px;
                }

                p {
                    color: $white;
                }
            }
        }
    }

    .sidebar {

        padding-top: 0;
        padding-left: 10px;
        padding-right: 0;

        h2 {
            font-size: 24px;
            font-weight: 600;
            color: $black;
            border-bottom: 2px solid $lime-500;
        }

        .latest-list {

            a:hover {
                background-color: $grey-100;
                color: $lime-500;
            }

            a {
                position: relative;
                height: 50px;
                padding-left: 15px;
                padding-top: 5px;
                margin-top: 0px;
                color: $black;
                text-align: left;
                text-decoration: none;
                white-space: normal;
                border-bottom: 1px solid $grey-400;

                span {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    font-size: 12px;
                    color: $grey-800;
                    font-style: italic;
                }
            }
        }
    }

    .categories {
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    }
}
