.post-content {

  .post {
    padding-left: 0;
  }

  .post-title {
    padding-bottom: 5px;
    padding-left: 0;
  }

  .body-top-ad {
      width: 728px;
      height: 90px;
      padding-left: 0;
      background-color: #00a74f;
  }
  .post-body {
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;

  }

  .body-bottom-ad {
      width: 728px;
      height: 90px;
      padding-left: 0;
      background-color: #00a74f;
    }

  .post-image {
    position: relative;
    height: 400px;
    margin-bottom: 5px;
    overflow: hidden;
    padding-left: 0;
    padding-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      object-position: 50% 50%;
      object-fit: cover;

    }
  }

  .sidebar {
    padding-left: 0;
    max-width: 100%;
    h2 {
        font-size: 24px;
        font-weight: 600;
        color: $black;
        border-bottom: 2px solid $lime-500;
    }

    .latest-list {
      padding-bottom: 15px;

      a:hover {
        background-color: $grey-100;
        color: $lime-500;
      }

      a {
        position: relative;
        height: 50px;
        padding-left: 5px;
        padding-top: 5px;
        margin-top: 0px;
        color: $black;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        border-bottom: 1px solid $grey-400;

        span {
          position: absolute;
          bottom: 5px;
          right: 5px;
          font-size: 12px;
          color: $grey-800;
          font-style: italic;
        }
      }
    }

    .sidebar-top-ad {
      width: 300px;
      height: 600px;
      margin: auto;
    }
  }
}
