{% extends "base.html" %}

{% block title %}Add an image{% endblock title %}

{% block content %}
<h1>Add an image</h1>
<img src="{{ request.GET.url }}" class="image-preview">
<form action="." method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add image"></p>
</form>
{% endblock content %}