{% load blog_tags %}
{% load staticfiles %}

<!DOCTYPE html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <script src="{% static 'js/modernizer.js' %}"></script>
        <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
        <!-- Font Awesome -->
        <script src="https://use.fontawesome.com/489521b7c1.js"></script>
        <!-- Formstone -->
        <link href="{% static 'formstone/css/grid.css' %}" rel="stylesheet">
        <link href="{% static 'formstone/css/navigation.css' %}" rel="stylesheet">
        <link href="{% static 'formstone/css/tabs.css' %}" rel="stylesheet">
        <link href="{% static 'formstone/css/tooltip.css' %}" rel="stylesheet">
        <!-- Custom Blog style -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body class="fs-grid fs-grid-fluid">

    <!-- Navigation -->
    <!-- Menu button -->
    <div class="nav_content">
        <button type="button" class="nav_handle">Menu</button>
    </div>
    <!-- Menu -->
    <nav class="fs-navigation" data-navigation-handle=".nav_handle" data-navigation-content=".nav_content">
        <div class="fs-row">
            <div class="fs-cell-centered fs-xs-3 fs-sm-3 fs-md-6 fs-lg-12 fs-xl-10">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                <a href="#">Two</a>
                <a href="#">Three</a>
                <a href="#">Four</a>
                <a href="#">Five is very long menu link that is unusually long</a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Dropdown</a>
                    <div class="dropdown-content" id="myDropdown">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <a href="#">Test</a>
            </div>
        </div>
    </nav>

    <!-- Central content -->
    <div class="fs-grid fs-grid-fluid example">
        <div class="fs-row">
            <div class="fs-cell-centered fs-xs-3 fs-sm-3 fs-md-6 fs-lg-12 fs-xl-10">

                <!-- Main content -->
                <div class="fs-cell fs-xs-3 fs-sm-3 fs-md-4 fs-lg-8 content">
                    {% block content %}{% endblock content %}
                </div>
                <!-- Sidebar -->
                <div class="fs-cell fs-xs-3 fs-sm-3 fs-md-2 fs-lg-4 sidebar">
                    {% show_latest_posts 5 %}
                </div>

            </div>
        </div>
        <p><a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a></p>
    </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Formstone -->
    <script src="{% static 'formstone/js/core.js' %}"></script>
    <script src="{% static 'formstone/js/mediaquery.js' %}"></script>
    <script src="{% static 'formstone/js/swap.js' %}"></script>
    <script src="{% static 'formstone/js/navigation.js' %}"></script>
    <script src="{% static 'formstone/js/tabs.js' %}"></script>
    <script src="{% static 'formstone/js/tooltip.js' %}"></script>

    <!-- Formstone script -->
    <script>
        $(".fs-navigation").navigation({
            type: "overlay",
            gravity: "left"
        });

        $(".swap").swap();

        $(".tab").tabs({
            mobileMaxWidth: 500
        });

        $(".tooltip").tooltip({
            direction: "bottom",
            match: true,
            follow: true
        });
    </script>

    <!-- Custom script for dropdown menu -->
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(e) {
            if (!e.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var d = 0; d < dropdowns.length; d++) {
                    var openDropdown = dropdowns[d];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</html>
