{% load blog_tags %}
{% load staticfiles %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% sass_src 'css/blog.scss' %}" rel="stylesheet">
    {% block css %}{% endblock css %}
</head>
<body>
    {% include 'navbar.html' %}
    {% if not request.user.is_authenticated %}
    {% endif %}
    <div class="container">
        <div class="row top-ad">
            <div class="col-sm-12">
                <img src="/media/ads/top-ad_970x90.jpeg">
            </div>
        </div>
        <div class="row">
            <section class="message col-sm-12">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close" onclick="closeMessage(this)">X</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>
        </div>
        {% block content %}{% endblock content %}
    </div>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/tether.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    {% block js %}{% endblock js %}
    <script>
        $(document).ready(function(){
            {% block domready %}
            {% endblock %}
        });
    </script>
    <script type="text/javascript">
        var closeMessage = function(e) {
            var target = $(e);
            target.parent().slideUp();
        }
    </script>
</body>
</html>
