{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Vault 13{% endblock title %}

{% block content %}
    <div class="home">
        <div class="row">
            <div class="col-sm-8 featured no-horizontal-padding">
                <a href="{{ last_featured_post.get_absolute_url }}">
                    <img src="{{ last_featured_post.image.url }}">
                    <div class="overlay">
                        <h2>{{ last_featured_post.title }}</h2>
                        <p>{{ last_featured_post.summary }}</p>
                    </div>
                </a>
            </div>
            {% show_latest_posts 8 %}
        </div>
        <div class="row featured-sm no-horizontal-padding">
            {% for post in featured_posts %}
            <div class="col-sm-3 featured-post no-horizontal-padding">
                <img src="{{ post.image.url }}">
                <div class="overlay">
                    <h2>{{ post.title }}</h2>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row categories">
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="{{ featured_posts.image.url }}">
                    <div class="card-block">
                        <h4 class="card-title">{{ featured_posts.title }}</h4>
                        <p class="card-text">{{ featured_posts.summary }}</p>
                        <a href="{{ featured_posts.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://unsplash.it/200/300/?random">
                    <div class="card-block">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="https://unsplash.it/200/300/?random">
                    <div class="card-block">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
