<ul class="nav col-xl-8 justify-content-center">
    {% for category in categories %}
    <li class="nav-item">
        <a class="nav-link menu" href="{% url 'blog:post_list_by_category' category.name %}">{{  category.name }}</a>
    </li>
    {% endfor %}
</ul>
