<h2>Sidebar</h2>
<p>This is my first blog</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum nisi id erat hendrerit congue mattis a libero. Etiam consequat dapibus arcu, eu placerat massa posuere in. Aenean faucibus urna justo, vitae pharetra nunc fringilla non. In eleifend felis at ultrices sollicitudin. Phasellus et auctor sem, rhoncus eleifend mauris. Integer id tellus id lectus scelerisque sollicitudin. Nunc metus sem, volutpat in efficitur a, efficitur id lectus. Mauris hendrerit eget sem nec fringilla. Sed at orci cursus, bibendum augue et, pellentesque quam. Pellentesque sollicitudin tortor tellus, ut faucibus mauris commodo eu. Mauris volutpat auctor purus, vulputate molestie metus mattis ac. Donec egestas luctus tortor.</p>

<div role="tablist">
    <nav>
        <a href="#tab-one" class="tab" data-tabs-group="tab-group">One</a>
        <a href="#tab-two" class="tab" data-tabs-group="tab-group" data-tabs-active="true">Two</a>
        <a href="#tab-three" class="tab" data-tabs-group="tab-group">Three</a>
    </nav>
    <div id="tab-one">
        <h3>Title of The Tab One</h3>
        <p>Phasellus et auctor sem, rhoncus eleifend mauris. Integer id tellus id lectus scelerisque sollicitudin. Nunc metus sem, volutpat in efficitur a, efficitur id lectus. Mauris hendrerit eget sem nec fringilla. Sed at orci cursus, bibendum augue et, pellentesque
        quam. Pellentesque sollicitudin tortor tellus, ut faucibus mauris commodo eu</p>
        <h3>Title of The Tab One</h3>
        <p>Nunc metus sem, volutpat in efficitur a, efficitur id lectus. Mauris hendrerit eget sem nec fringilla. Sed at orci cursus, bibendum augue et, pellentesque
        quam. Pellentesque sollicitudin tortor tellus, ut faucibus mauris commodo eu. Pellentesque sollicitudin tortor tellus, ut faucibus mauris commodo eu. Mauris volutpat auctor purus, vulputate molestie metus mattis ac. Pellentesque sollicitudin tortor tellus, ut faucibus mauris commodo eu. Mauris volutpat auctor purus.</p>
    </div>
    <div id="tab-two">
        <a href="page.html" class="tooltip" data-title="Welcome to New York"><img src="http://lorempixel.com/output/city-q-g-500-300-3.jpg" alt=""></a>
    </div>
    <div id="tab-three">
        <h3>Title of The Tab Three</h3>
        <p> Etiam consequat dapibus arcu, eu placerat massa posuere in. Aenean faucibus urna justo, vitae pharetra nunc fringilla non. In eleifend felis at ultrices sollicitudin. Phasellus et auctor sem, rhoncus eleifend mauris. Integer id tellus id lectus scelerisque sollicitudin. Nunc metus sem, volutpat in efficitur a, efficitur id lectus. Mauris hendrerit eget sem nec fringilla. Sed at orci cursus, bibendum augue et, pellentesque quam. Pellentesque sollicitudin tortor tellus, ut faucibus mauris commodo eu. Mauris volutpat auctor purus, vulputate molestie metus mattis ac.</p>
    </div>
</div>