{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}

<div class="post-content-full">
    <h2>{{ post.title }}</h2>
    <span class="date">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ post.publish }} <i class="fa fa-user-circle-o" aria-hidden="true"></i> {{ post.author }}
    </span>
    <div>
        <img src="http://lorempixel.com/output/nature-q-g-1024-600-3.jpg" alt="image">
        {{ post.body|markdown }}
        <p class="tags">
            Tags:
            {% for tag in post.tags.all %}
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
    </div>
</div>


<h2>Similar posts</h2>
{% for post in similar_posts %}
<p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
{% empty %}
There is no similar posts yet
{% endfor %}

<div class="comment-form">
    {% if new_comment %}
    <h2>Your comment has been added.</h2>
    {% else %}
    <h2>Add a new comment</h2>
    <form action="." method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment"></p>
    </form>
    {% endif %}
</div>

{% with comments.count as total_comments %}
<h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}

<div class="comments">
    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
    {% empty %}
    <p>There are no comments yet.</p>
    {% endfor %}
</div>
{% endblock content %}
{% include "blog/sidebar.html" %}
