<div class="col-sm-4 sidebar">
    <h2>Latest News</h2>
    <div class="latest-list">
        {% for post in latest_posts %}
        <a class="btn btn-link btn-block align-top" href="{{ post.get_absolute_url }}">{{ post.title }}<span>3 days ago</span></a>
        {%  endfor %}
    </div>
</div>
