{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <div class="post-content">
        <div class="row">
            <div class="col-sm-12 post-title">
                <h1>{{ post.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 post">
                <div class="col-sm-12 post-image">
                    <img src="{{ post.image.url }}">
                </div>
                <div class="col-sm-12 body-top-ad">
                    <img src="/media/ads/ad_728x90.jpg">
                </div>
                <div class="col-sm-12 post-body">
                    <p>{{ post.body|markdown }}</p>
                </div>
                <div class="col-sm-12 body-bottom-ad">
                    <img src="/media/ads/ad_728x90.jpg">
                </div>
            </div>
            <div class="col-sm-4 sidebar">
                {% show_latest_posts 9 %}
                <div class="sidebar-top-ad">
                    <img src="/media/ads/sidebar_ad_300x600.gif">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

