$lime-50: #F9FBE7;
$lime-100: #F0F4C3;
$lime-200: #E6EE9C;
$lime-300: #DCE775;
$lime-400: #D4E157;
$lime-500: #CDDC39; // main
$lime-600: #C0CA33;
$lime-700: #AFB42B;
$lime-800: #9E9D24;
$lime-900: #827717;

$lime-A100: #F4FF81;
$lime-A200: #EEFF41;
$lime-A400: #C6FF00;
$lime-A700: #AEEA00;

$lime-map: (
    lime-50: $lime-50,
    lime-100: $lime-100,
    lime-200: $lime-200,
    lime-300: $lime-300,
    lime-400: $lime-400,
    lime-500: $lime-500,
    lime-600: $lime-600,
    lime-700: $lime-700,
    lime-800: $lime-800,
    lime-900: $lime-900,
    lime-A100: $lime-A100,
    lime-A200: $lime-A200,
    lime-A400: $lime-A400,
    lime-A700: $lime-A700
);

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E; // main
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$grey-map: (
    grey-50: $grey-50,
    grey-100: $grey-100,
    grey-200: $grey-200,
    grey-300: $grey-300,
    grey-400: $grey-400,
    grey-500: $grey-500,
    grey-600: $grey-600,
    grey-700: $grey-700,
    grey-800: $grey-800,
    grey-900: $grey-900
);

$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;