@import 'css/_ads';
@import 'css/_fonts';
@import 'css/_colors';
@import 'css/_utility';
@import 'css/_bootstrap';
@import 'css/bootstrap/bootstrap';
@import 'css/views/_home';
@import 'css/views/_post';

.container {
    margin-top: 60px;
}

body {
    margin: 0;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: white;
}

header nav ul.nav {
    padding: 0 0 0 0;
}

header nav ul li a {
    height: 50px;
    width: 100%;
    margin: 0 10px 0 0;
    line-height: 36px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

header nav ul li a:focus {
    color: greenyellow;
}

header nav ul li a.logo {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

a.logo:hover {
    text-decoration: none;
    color: greenyellow;
    background: black;
}

header nav ul li a.menu {
    text-transform: uppercase;
}

header nav ul li a.user {
    margin-right: 60px;
}

header nav ul li a.menu:hover {
    background: gray;
    color: #333333;
}

header nav ul li.user {
    margin-right: 10px;
}

.dropdown-menu.user {
    right: 0;
    left: auto;
}

section.top-ad-panel {
    width: 100%;
    margin-top: 10px;
    padding: 0;
}

div.top-ad-img {
    width: 940px;
    text-align: center;
    margin: auto;
}

#content {
    margin-top: 10px;
    padding-top: 20px;
    background: AliceBlue;
}
