{% extends "base.html" %}
{% load static %}

{% block title %}Edit account{% endblock title %}

{% block css %}
<link href="{% static 'css/edit.css' %}" rel="stylesheet">
<link href="{% static 'css/messages.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="message row">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
        {{ message|safe }}
            <a href="#" class="close" onclick="closeMessage(this)">X</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
</section>
<div class="row edit-profil-container">
    <div class="edit-profil col-xl-12">
        <h1>Edit your account</h1>
    </div>
    <div class="col-xl-6 image-container">
        <img class="profile-image" src="{{ user_profile.photo.url }}" alt="profile image">
    </div>
    <div class="edit-form col-xl-6">
        <form enctype="multipart/form-data" action="." method="POST">
            {% for field in user_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            {% for field in profile_form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            {% csrf_token %}
            <div class="buttons">
                <input type="submit" class="btn btn-success" value="Save changes">
                <a class="btn btn-secondary" href="{% url 'dashboard' %}" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
var closeMessage = function(e) {
    var target = $(e);
    target.parent().slideUp();
}
{% endblock script %}
