{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'css/forms.css' %}" rel="stylesheet">
{% endblock css %}

{% block title %}Log-in{% endblock title %}

{% block content %}
<h1>Log-in</h1>
<p>Please submit your details to log-in.</p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log-in"></p>
</form>
{% endblock content %}
