{% extends "base.html" %}

{% block title %}Account created successfully{% endblock title %}

{% block content %}
<h1>Welcome {{ new_user.name }}</h1>
<p>Your account has been successfully created. Now you can <a href="{% url 'login' %}">log in.</a></p>
{% endblock content %}
